body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f2f4;
}
.app {
  display: flex;
  width: auto;
  height: auto;
}

.content {
  padding: 20px;
}
.front {
  height: 235px;
  width:100%;
  background-color: #3b5998;
  margin-bottom: px;
}