/* src/components/Header/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    align-items: center;
  }
  
  .header-icons i {
    margin-left: 20px;
    cursor: pointer;
  }
  